@model Offer

@{
    ViewData["Title"] = "Teklif Güncelle";
}

<style>
    body {
        background-color: #f0f8ff;
    }

    .card {
        margin-top: 20px;
    }

    .btn-primary {
        background-color: #007bff;
        border-color: #007bff;
    }

        .btn-primary:hover {
            background-color: #0056b3;
            border-color: #0056b3;
        }
</style>

<div class="container">
    <div class="card">
        <div class="card-header bg-primary text-white">
            <h2>Teklif Güncelle</h2>
        </div>
        <div class="card-body">
            <form asp-action="UpdateOffer" method="post" class="needs-validation" novalidate>
                <div class="form-row">
                    <div class="col-md-6 mb-3">
                        <label for="Id">Teklif No</label>
                        <input type="number" class="form-control" asp-for="Id" id="Id" readonly />
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="OfferName">Teklif Adı</label>
                        <input type="text" class="form-control" asp-for="OfferName" id="OfferName" required />
                        <div class="invalid-feedback">
                            Lütfen teklif adını girin.
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-md-6 mb-3">
                        <label for="CustomerName">Müşteri Adı</label>
                        <input type="text" class="form-control" asp-for="CustomerName" id="CustomerName" required />
                        <div class="invalid-feedback">
                            Lütfen müşteri adını girin.
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="OfferAmount">Teklif Miktarı</label>
                        <input type="number" class="form-control" asp-for="OfferAmount" id="OfferAmount" required />
                        <div class="invalid-feedback">
                            Lütfen teklif miktarını girin.
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-md-12 mb-3">
                        <label for="Category">Kategori</label>
                        <select style="width:50%" class="form-control" asp-for="Category" asp-items="ViewBag.Categories" id="Category" required></select>
                        <div class="invalid-feedback">
                            Lütfen kategoriyi seçin.
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Güncelle</button>
            </form>
        </div>
    </div>
</div>



